<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" name="viewport">
    <title>Login Page</title>
</head>
<body>
<div id="login-form">
    <form action="/login" method="post">
        <h1> Member Login</h1>
        <input type="username" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <button class="btn btn-success btn-block" type="submit">Sign in</button>
        <label style="color : red;" th:text="${message}"></label>
        <hr>
    </form>

    <br>

</div>
</body>